html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

html {
  line-height: 1.5;
}

.nav li {
  display: inline-block;
}

.nav a {
  font-family: sans-serif;
  text-decoration: none;
  font-size: 1rem;
  background-color: #713837;
  display: inline-block;
  padding: .6em;
  border-radius: 5px;
  color: #fff;
}

.nav a:hover {
  background-color: #f33;
}

h1 {
  font-size: 2.3rem;
  color: #fff;
  margin: 0;
  font-family: "Bevan", sans-serif;
}

body {
  background-color: #dbd6cf;
  margin: 0;
}

header {
  text-align: center;
  background-color: #79756f;
  margin: 0;
  padding: 0.75em;
  border-width: 3px;
  border-color: #595652;
  border-right-color: #79756f;
  border-left-color: #79756f;
  border-style: solid;
}

nav ul {
  margin: 0;
  list-style-type: none;
  padding: 0;
}
